.form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
    top: 4px;
    border-bottom: none !important;
}

.add-custom-formset-btn {
    top: -2rem;
    padding: 10px 10px;
}

.delete-custom-formset-btn {
    padding: 10px 10px;
    top: 1px;
}

#mail-nav #mail-labels li a:hover,
#mail-nav #online-offline li a:hover, #mail-nav #online-offline li.active, #mail-nav #mail-labels li.active {
    background-color: #e6e6e6;
}