# Created by MBAMBA FABRICE DAMIEN
.env
.idea/
db.sqlite3
media/
static/
vtcuser/__pycache__/
vtcuser/migrations/__pycache__/
vtcuser/templatetags/__pycache__/
vtcvlp/__pycache__/
__pycache__/
docs/source/_static/
docs/source/_templates/
