{% load i18n staticfiles %}

<script type="text/javascript" src="{% static 'js/app.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/form.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bundles/multiselect/js/jquery.multi-select.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js' %}"></script>

<!-- Custom Js -->
<script type="text/javascript" src="{% static 'js/admin.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pages/forms/form-wizard.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pages/forms/advanced-form-elements.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bundles/datetimepicker/jquery.datetimepicker.min.js' %}"></script>
