{% load i18n staticfiles forms_tags widget_tweaks %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

{% for field in form %}
    {% if field|is_checkbox %}
        <div>

            {% render_field field class="filled-in chk-col-cyan" %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>

    {% else %}
        <div class="form-group form-float">
            <div class="form-line{% if field.errors %} focused error{% endif %}">
                {% render_field field class=field|input_class placeholder="" %}
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            </div>
            {% for error in field.errors %}
                <label id="{{ field.id_for_label }}-error" class="error" for="{{ field.id_for_label }}">{{ error }}</label><br>
            {% endfor %}
            {% if field.help_text %}
                <small class="form-text text-muted">
                    {{ field.help_text|safe }}
                </small>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
