{% load staticfiles i18n %}
<meta charset="utf-8"/>

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>


<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
<meta name="viewport" content="width=device-width"/>
<!-- Canonical SEO -->
<link rel="canonical" href="http://www.localhost:8000"/>
<!--  Social tags      -->
<meta name="keywords" content="localhos:8000, clocky">
<meta name="description" content="Clocky, votre pointeur en ligne, tous vos mouvements synchronisés avec le planning du personnel">
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="clocky">
<meta itemprop="description" content="Clocky, votre pointeur en ligne, tous vos mouvements synchronisés avec le planning du personnel">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@clocky">
<meta name="twitter:title" content="Clocky">
<meta name="twitter:description" content="Clocky, votre pointeur en ligne, tous vos mouvements synchronisés avec le planning du personnel">
<meta name="twitter:creator" content="@d_mbamba">

<!-- Open Graph data -->
<meta property="fb:app_id" content="">
<meta property="og:title" content="Clocky"/>
<meta property="og:type" content="Services"/>
<meta property="og:url" content="http://locahost:8000"/>
<!-- <meta property="og:image" content="http://s3.amazonaws.com/creativetim_bucket/products/51/opt_mdp_thumbnail.jpg"/> -->
<meta property="og:description" content="Clocky, votre pointeur en ligne, tous vos mouvements synchronisés avec le planning du personnel"/>
<meta property="og:site_name" content="Clocky"/>