{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>{% trans "Login to vtc videos links poster" %}</title>
<!-- Favicon-->
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}">
<!-- Custom Css -->
<link rel="stylesheet" href="{% static "css/main.css" %}">
<link rel="stylesheet" href="{% static "css/authentication.css" %}">
<link rel="stylesheet" href="{% static "css/all-themes.css" %}" />
</head>

<body class="theme-red">
<div class="authentication">
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-lg-8 col-md-12 col-sm-12">
				<div class="l-detail">
                    <h5>Welcome back !</h5>
                    <h1>VTC <span>video link poster</span></h1>
                    <h3>You must login sorry ...</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <ul class="list-unstyled l-menu">
                        {% block l_footer %}
                            <li><a href="#">Need help read the doc</a></li>
                            <li><a href="{% url "vtcuser:api-login" %}">API</a></li>
                        {% endblock l_footer %}
                    </ul>
                </div>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12">
				<div class="card">
				    <h4 class="l-login">Login</h4>
                    <form class="" id="sign_in" {% url "account_login" %} method="POST">
                        {% csrf_token %}
                        {% include "includes/form.html" %}
                        <button type="submit" class="btn btn-raised waves-effect bg-red">{% trans "Login" %}</button>
                        <a href="{% url "account_signup" %}" class="btn btn-raised waves-effect">{% trans "Register" %}</a>
                        <div class="text-left">
                            <a href="{% url "account_reset_password" %}">Forgot Password?</a>
                        </div>
                    </form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Jquery Core Js -->
<script src="{% static "bundles/libscripts.bundle.js" %}"></script> <!-- Lib Scripts Plugin Js -->
<script src="{% static "bundles/vendorscripts.bundle.js" %}"></script> <!-- Lib Scripts Plugin Js -->

<script src="{% static "bundles/mainscripts.bundle.js" %}"></script><!-- Custom Js -->
</body>
</html>
