{% extends "frontend/base.html" %}
{% load i18n static %}
{% block title %}{% trans "Déconnexion" %} - {% endblock %}
{% block keywords %}{% blocktrans %}Déconnexion{% endblocktrans %}{% endblock keywords %}
{% block description %}{% blocktrans %}Se déconnecter{% endblocktrans %}{% endblock description %}

{% block banner %}
    <div id="page-banner-area" class="page-banner-area blog-banner">
        <!-- Subpage title start -->
        <div class="page-banner-title">
            <div class="text-center">
                <h2>{% trans "Deconnexion" %}</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url "frontend:home" %}">Accueil /</a>
                    </li>
                    <li>
                        {% trans "Se déconnecter" %}
                    </li>
                </ol>
            </div>
        </div><!-- Subpage title end -->
    </div><!-- Page Banner end -->
{% endblock banner %}

{% block sub_content %}
    <section class="main-container pb-0" id="main-container">
         <div class="container">
				<div class="row">
                    <form method="post" action="{% url 'account_logout' %}" class="hero-form" autocomplete="off">
                        <h2 class="mb-4 mt-0 text-center">{% trans "Déconnexion" %}</h2>
                        {% csrf_token %}
                    <div class="form-group">
                        <p class="form-text text-muted">{% trans 'Vous êtes sûr de vouloir vous déconnecter ?' %}</p>
                    </div>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-block pb_btn-pill  btn-shadow-blue">{% trans 'Se décconecter' %}</button>
                        </div>
                    </form>
                </div>
         </div>
    </section>
{% endblock sub_content %}
