{% extends "account/signup.html" %}
{% load i18n static %}
{% load account forms_tags socialaccount widget_tweaks %}
{% block title %}{% trans "Password changed !" %}{% endblock title %}
{% block l_detail %}
    <h1>VTC <span>video link poster</span></h1>
    <h5>Yeaaaah !</h5>
    <p>{% blocktrans %}It's done{% endblocktrans %}</p>
{% endblock %}


{% block form_content %}
    <h4 class="l-login">{% trans "Change Password" %}</h4>
    <p>{% trans 'Your password is now changed.' %}</p>
    <a href="{% url "vtcuser:home_video_list" %}" class="btn btn-raised waves-effect">{% trans "Back to home" %}</a>
{% endblock %}
