{% extends "account/signup.html" %}
{% load i18n static %}
{% load account forms_tags socialaccount widget_tweaks %}
{% block title %}{% trans "Password reseting" %}{% endblock title %}
{% block l_detail %}
    <h1>VTC <span>video link poster</span></h1>
    <h5>Forgot password ?</h5>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}


{% block form_content %}
    <h4 class="l-login">{% trans "Password Reset" %}</h4>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>


{% endblock %}
