{% extends "account/signup.html" %}
{% load i18n static %}
{% load account forms_tags socialaccount widget_tweaks %}
{% block title %}{% trans "Change my password" %}{% endblock title %}
{% block l_detail %}
    <h1>VTC <span>video link poster</span></h1>
    <h5>Change your password</h5>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}


{% block form_content %}
    <h4 class="l-login">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {% include "includes/form.html" %}
                <button name="action" type="submit" class="btn btn-raised waves-effect bg-red">{% trans 'Change my pass' %}</button>
                <a href="{% url "vtcuser:home_video_list" %}" class="btn btn-raised waves-effect">{% trans "Back to home" %}</a>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}

{% endblock %}
